* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
img {
  width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

body {
  font-weight: 500;
  color: #333333;
  text-align: center;
}

li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: #e4e4e4;
}

h1 {
  font-size: 60px;
  font-weight: 900;
  color: #ffcc00;
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
}
h2 {
  font-size: 36px;
  font-weight: 900;
  color: #666666;
  font-family: "Roboto", sans-serif;
}
h3 {
  font-size: 24px;
  font-weight: 400;
  color: #666666;
  font-family: "Raleway", sans-serif;
}
h4 {
  font-size: 18px;
  color: #898f8f;

  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}

.button {
  color: #666666;
}

.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 121px 0;
}
